.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.missing-article {
    width: 1024px;
    height: 100vh;
    background: #242424;
    color: #fff;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-article {
    color: #000;
    height: 100%;
    overflow: hidden;
}
